@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;600;800&family=Raleway:wght@200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.flex-center {
		align-items: center;
		justify-content: center;
	}
}
@layer base {
}
@layer components {
	.bttn {
		@apply text-[1.4rem] leading-[1.21em] font-real-text font-extralight rounded-[.8rem] transition px-[1.8rem] py-[1.2rem] duration-300;
	}
	.bttn-fill {
		@apply text-white bg-primary;
		@apply hover:bg-white hover:text-primary;
	}
	.bttn-line {
		@apply bg-transparent border border-primary text-primary;
		@apply hover:bg-primary hover:text-white;
	}
	.text-content {
		@apply font-open-sans text-[1.6rem] md:text-[1.8rem] leading-[1.38em] text-white font-extralight;
	}
	.absolute-center {
        position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}
}
.comp-flix-website a:first-of-type {
    display: none;
}
html {
	scroll-behavior: smooth;
}
.block-editor .components-flex-item button:not(.is-primary):not(.is-secondary) {
	height: 100%;
	max-height: 16rem;
	max-width: 20rem;
	background-color: rgba(62, 146, 167, 0.4);
	overflow: hidden;
}
.block-editor .components-flex-item button img {
	object-fit: contain;
	height: 100%;
	height: 100%;
	pointer-events: none;
}
.is-desktop-preview a {
	pointer-events: none;
}
.is-desktop-preview .swiper-slider:not(:first-of-type) {
	display: none !important;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #d9d9d9 #211e1f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.5rem;
}

*::-webkit-scrollbar-track {
	background: #211e1f;
}

*::-webkit-scrollbar-thumb {
	background-color: #d9d9d9;
	border-radius: 0.5rem;
}
.mouse-parallax {
	transition: all 1s;
	transition-timing-function: ease-out;
}

html .wp-block {
	max-width: 100% !important;
}
p {
	line-height: inherit;
}
html {
	font-size: 10px;
}
html.interface-interface-skeleton__html-container {
	font-size: 7px;
}
.edit-post-visual-editor,
.edit-post-visual-editor .swiper-wrapper p {
	font-size: inherit;
	line-height: inherit;
}
.edit-post-visual-editor .swiper-wrapper {
	display: flex;
}
.edit-post-visual-editor,
.editor-styles-wrapper {
	background: #211e1f;
}
[data-rich-text-placeholder] {
	color: white;
}
.wp-block-post-title {
	color: white;
	font-size: 4rem;
	font-weight: bolder;
}
.img-box img,
.img-box video,
.video-box video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.img-box-auto img,
.video-box-auto video {
	width: auto;
	height: 100%;
	object-fit: contain;
}
.img-cover img,
.video-cover video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
[data-title='Paragraph'] {
	color: white;
	font-size: 1.2rem;
}
@media only screen and (min-width: 961px) {
	.container-block {
		max-width: 137.6rem;
	}
}
.swiper .swiper-pagination-bullet {
	transition: all 0.5s;
}
.swiper .swiper-pagination-bullet-active {
	width: 6.4rem !important;
	border-radius: 1.2rem !important;
}
:root > * {
	--swiper-pagination-bottom: -4rem;
	--swiper-pagination-color: #7d7a78;
	--swiper-pagination-bullet-size: 1.2rem;
	--swiper-pagination-bullet-horizontal-gap: 1.2rem;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bullet-inactive-color: #454042;
	--swiper-navigation-color: white;
	--swiper-navigation-size: 3.2rem;
}

@media only screen and (min-width: 0) and (max-width: 960px) {
	.container-block {
		padding-inline: 3.2rem;
	}
	.mobile-full-width {
		width: 100vw;
		margin-left: -3.2rem;
	}
	.mobile-cover {
		object-fit: cover !important;
	}
}

/* @end */

@media only screen and (min-width: 961px) and (max-width: 1727px) {
	html {
		font-size: calc(5px + (10 - 5) * ((100vw - 961px) / (1727 - 961)));
	}
}
@media only screen and (min-width: 0) and (max-width: 429px) {
	html {
		font-size: calc(7px + (10 - 7) * ((100vw - 300px) / (429 - 300)));
	}
}
